{% load static %}


<section class="section2">
    <div class="title">
        <h2>Porque escolher a portimaker</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam adipisci voluptatem sapiente obcaecati harum doloremque aliquam. Recusandae ducimus voluptas beatae ipsam nemo, veritatis sint iusto est, dolorem saepe ipsa harum!</p>
    </div>
    <div class="cards-container">


        <div class="card">
            <div class="img ">
                <img class="icon-coins" src="{% static 'images/icon-coins.png' %}" alt="coin">
            </div>
            <div class="description">
                <h3>Melhor preco</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid nemo ea at magni dicta nesciunt</p>
            </div>
        </div>


        <div class="card">
            <div class="img">
                <img class="icon-hourglass" src="{% static 'images/icon-hourglass2.png' %}" alt="hourglass">
            </div>
            <div class="description">
                <h3>Pronto em 5 minutos</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid nemo ea at magni dicta nesciunt</p>
            </div>
        </div>


        <div class="card">
            <div class="img">
                <img class="icon-emoji" src="{% static 'images/icon-amazing-emoji.png' %}" alt="emoji">
            </div>
            <div class="description">
                <h3>Design extraordinario</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid nemo ea at magni dicta nesciunt</p>
            </div>
        </div>
    </div>
</section>