{% load static %}

<section class="section3">
    <div class="left">
        <div class="title-container">
            <h2> <span class="bar"></span> SEU PORTIFOLIO <br> <strong>SUAS REGRAS</strong> </h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat laborum corporis animi iure quasi natus tempora quibusdam harum nisi assumenda. Doloribus soluta, porro numquam eaque impedit nobis at fuga nulla!</p>
        </div>


    </div>
    <div class="right">
        <div class="glass-card">   
            <h2>Ser contratado <i class="fa-solid fa-chevron-right" style="color: #212121;"></i></h2>
        </div>
        <div class="glass-card">      
            <h2>Atrair clientes <i class="fa-solid fa-chevron-right" style="color: #212121;"></i></h2>
        </div>
        <div class="glass-card">      
            <h2>Expor seus projetos <i class="fa-solid fa-chevron-right" style="color: #212121;"></i></h2>
        </div>
    </div>
</section>