{% load static %}


<section class="section4">

    <div class="title">
        <h2>Desenvolvido especialmente para:</h2>
        <p>Pessoas que desejam uma forma de expor suas artes e projetos para o mundo de forma magica!</p>
    </div>
    <div class="glass-cards-container">


        <div class="glass-card">
            <div class="align">
                <span class="red"></span>
                <span class="yellow"></span>
                <span class="green"></span>
            </div>
            <div class="glass-card-content">
                <div class="img-container">
                    <img class="arquiteto" src="{% static 'images/arquiteto.png' %}" alt="">
                </div>
                <h2>Arquitetos</h2>
            </div>
        </div>


        <div class="glass-card">
            <div class="align">
                <span class="red"></span>
                <span class="yellow"></span>
                <span class="green"></span>
            </div>
            <div class="glass-card-content">
                <div class="img-container"><img class="designers" src="{% static 'images/designer.png' %}" alt=""></div>
                <h2>Designers</h2>
            </div>

        </div>


        <div class="glass-card">
            <div class="align">
                <span class="red"></span>
                <span class="yellow"></span>
                <span class="green"></span>
            </div>
            <div class="glass-card-content">
                <div class="img-container"><img class="dev" src="{% static 'images/dev.png' %}" alt=""></div>
                <h2>Desenvolvedores</h2>
            </div>

        </div>
    </div>
</section>