{% load static %}

<section class="section5">

    
    <img src="" alt="" class="coin1">
    <img src="" alt="" class="coin2">
    <img src="" alt="" class="coin3">

    <div class="title">
        <h2>Crie hoje mesmo!</h2>
        <p>Escolha um modelo e personalize seu portifolio agora mesmo</p>
    </div>

    <div class="content-container">

        <div class="black-card tower">
            <div class="black-card2">
                <div class="content">
                    <div>
                        <img class="tower" src="{% static 'images/tower.png' %}" alt="Tower">
                    </div>
                    <div>
                        <h3>TOWER</h3>
                    </div>
                    <p>Crie uma fortaleza para atrair novos clientes</p>
                    <div>
                        <button>Personalizar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="black-card coliseum">
            <div class="black-card2">
                <div class="content">
                    <div>
                        <img class="coliseum" src="{% static 'images/coliseum.png' %}" alt="Coliseum">
                    </div>
                    <div>
                        <h3>COLISEUM</h3>
                    </div>
                    <p>Batalhe pelas melhores vagas do mercado</p>
                    <div>
                        <button>Personalizar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="black-card pyramid">
            <div class="black-card2">
                <div class="content">
                    <div>
                        <img class="pyramid" src="{% static 'images/pyramid.png' %}" alt="Coliseum">
                    </div>
                    <div>
                        <h3>PYRAMID</h3>
                    </div>
                    <p>A vitrine perfeita para expor seus projetos</p>
                    <div>
                        <button>Personalizar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    

</section>