{% load static %}

<section class="section6">
    <h3>Perguntas frequentes</h3>
    <div class="faq-container">
        <div class="faq-item">
          <h4 class="question">How do I get started?</h4>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="faq-item">
          <h4 class="question">Can I cancel my subscription?</h4>
          <div class="answer">
            <p>Yes, you can cancel your subscription at any time.</p>
          </div>
        </div>
        <div class="faq-item">
          <h4 class="question">What payment methods do you accept?</h4>
          <div class="answer">
            <p>We accept all major credit cards and PayPal.</p>
          </div>
        </div>
      </div>
</section>


