
input[type="checkbox"]{
    display: none;
}
.redirect-signup{
    bottom: -110px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    padding-bottom: 20px;
    font-family: panton-l;
}
.info p{
    padding: 3px 0;
}