{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}Redefinir senha{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock extra_head %}

{% block content %}

<div class="container">

    <div class="auth-container">
      <div class="auth-container2">
  
        
        <div class="left">
          <img src="{% static 'images/background-pink.png' %}" alt="">
          <div class="text-container">
            <h2> <strong>Esqueceu sua</strong>  <br> SENHA?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veritatis</p>
          </div>
        </div>
        
        
        <div class="right">
          <img src="{% static 'images/logo-dark.png' %}" alt="">
          <h1>REDEFINIR SENHA</h1>
        
          <div class="info">
              <p>Digite seu email.</p>
              <p>Enviaremos um link em seu email para redefinir sua senha</p>
          </div>

          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{ field }}
            </div>
          {% endfor %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button>ALTERAR SENHA</button>
          </form>
          
        </div>
  
  
      </div>
    </div>
  
  
  </div>

{% endblock %}

